@charset "UTF-8";

#bottomMenu {
	height: 50px;
	width: 1260px;
	margin-top: 20px;
}
#bottomMenu ul li {
	list-style: none;
	color: white;
	background-color: #2d2d2d;
	float: right;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
}
#bottomMenu .menuLink {
	text-decoration: none;
	color: white;
	display: block;
	width: 235px;
	font-size: 25px;
	font-weight: bold;
	font-family: "Trebuchet MS", Dotum, Arial;
}
#bottomMenu .menuLink:hover {
	color: white;
	background-color: #4d4d4d;
}
#bottomMenu .whiteSpace {
	color: white;
	background-color: white;
	width: 70px;
}