@charset "UTF-8";

/* #pic_group {
	width: 1175px;
	text-align: center;
	margin: 0 auto;
}
#pic_group .pic {
	height: 180px;
	width: 330px;
	margin: 10px 25px;
	padding: 0 0;
}
#price {
	height: 50px;
	margin: 0 auto;
	width: 1175px;
}
#price ul {
	height: 50px;
	text-align: center;
	margin: 0 0;
	padding: 0 0;
}
#price li {
	color: black;
	text-align: center;
	display: block;
	height: 50px;
	width: 330px;
	margin: 0 25px;
	list-style: none;
	float: left;
	background: yellowgreen;
}
#price:after {
	clear: both;
}
 */

body {
	zoom: 1.5;
}

.container {
	width: 1175px;
	margin: 0 auto;
}

#pic_price {
	background: #50C878;
	width: 330px;
	height: 230px;
	margin: 10px 25px;
	display: inline-block;
}

.pic {
	width: 330px;
	height: 180px;
	border: 0;
	padding: 0 0;
}

.price {
	color: black;
	display: block;
	width: 330px;
	height: 22px;
}

.product {
	color: black;
	display: block;
	width: 330px;
	height: 22px;
}

.pic:hover {
	opacity: 0.7;
}

@media screen and (max-width: 1023px) {
	body {
		zoom: 0.35;
	}
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
	body {
		zoom: 0.52;
	}
}